/* configuraciones generales */
body {
    margin: 0;
    padding: 0;
    font-size: 62,5%;
}

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

a {
    text-decoration: none;
    color: #d4d4d4;
    letter-spacing: 5px;
}
/* fin de configuraciones generales */

/* HEADER */

.navbar-brand {
    font-size: 2rem;
}
.header a {
    font-weight: bold;
    font-family: 'Abril Fatface', cursive;
    
}

.navbar-nav li :hover {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transform: scale(1.2);
    transition: all 1s; 
}


    /* media queries */
@media screen and (max-width: 576px) {
    .navbar-brand {
        display: none;
    }
}
/* fin del header */

/* inicio de carousel */




