/* configuraciones generales */
body {
    margin: 0;
    padding: 0;
    font-size: 62,5%;
}

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

a {
    text-decoration: none;
    color: #d4d4d4;
}
/* fin de configuraciones generales */

/* HEADER */
#header {
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.header-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: #2b2b2b;
}

.logo {
    font-size: 2rem;
    display: none;
}

#header a {
    font-family: 'Abril Fatface', cursive;
    font-weight: bold;
    padding: 0rem 1rem;
}
.navbar {

}
.navbar ul{
    display: flex;
    padding: 0;
    list-style: none;
}

.navbar ul li {
    display: flex;
    justify-content: center;
}

.navbar  ul li a:hover{   
    color: #aaaaaa;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
}

@media screen and (min-width:576px) {
    
    a {
        letter-spacing: 3px;
    }
    
    .logo {
        display: block; 
    }
}
/* fin del header */

/* inicio de carousel */

.carrusel {
    padding-top: 56px;
}
